page-home {

    .item-block {
        margin: 0;
        padding: 0;
        text-align: initial;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        min-height: 9rem;
        border: 0;
        font-weight: normal;
        line-height: normal;
        text-decoration: none;
        color: inherit;
    }

    ion-list {
        padding-left: 10px;
    }

}
